# Ignore everything by default
*

# Keep gitignore tracked
!.gitignore

# Keep files you want on GitHub
!PINN.ipynb
!README.md
!ieee14_training_data.pt
!requirements.txt
!.python-version
!images/
!images/**
!Data_Viewer.ipynb

